<div class="container">
    <input type="checkbox" id="toggle" checked />
    <label class="button" for="toggle">
      <nav class="nav">
        <ul>
          <li><a href="#0"><i class="ri-mic-line"></i>Initially cheap</a></li>
          <li><a href="#0"><i class="ri-message-2-line"></i>First, the expensive ones</a></li>
          <li><a href="#0"><i class="ri-file-line"></i>First, the new ones</a></li>
          <li><a href="#0"><i class="ri-send-plane-2-line"></i>By default</a></li>
        </ul>
      </nav>
    </label>
</div>