<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="vbkgkv .v,,lp,dlpv,dldlpfm,dfplvk,dfpvldmf,vbpldfm,vpdfmvdpflvm,dfkbmv,dfplvbm,dfop">
    <meta name="keywords" content="buy apartment, eokvkmekfdefboim........">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
  </head>
  <body>
    <app-louding *ngIf="loading"></app-louding>
    <app-main-navbar></app-main-navbar>
    <div>
    <div class="divv">
      <button class="custom-btn btn-16" (click)="toggleFilterTable()">Filters</button>
      <button class="custom-btn btn-16" (click)="toggleMaps()">{{ showMaps ? 'List' : 'Maps' }}</button>
    </div>
    <div *ngIf="!showMaps" class="div0">
      <h1 class="h1">Real estate Luxembourg</h1>
      <h5>Sale of apartments from developers in {{jsonDataCount}} projects</h5>
    </div>
    <div *ngIf="!showMaps" class="div1">
      <div class="cart" *ngFor="let data of paginatedData; let i = index">
        <a [routerLink]="['/build_about_the_project/', data?.id]">
          <video class="cart" [muted]="'muted'" loop  autoplay (ended)="replayVideo($event)" [src]="getVideoUrl(data.id)">
          </video>
        </a>
        <div class="description">
          <h2 class="description-title">{{data.title}}</h2>
          <h3>{{data.city}}</h3>
          <h4>From {{data.price_low}} € up to {{data.price_hi}} €</h4>
          <h5>{{data.line_adres}}</h5>
        </div>
      </div>
    </div>
    <div class="filter-table" *ngIf="showFilterTable">
      <div style="overflow: hidden;" class="filter-table1">
        <div class="filter-table-title">
          <h2>Filters</h2>
          <img style="height: 48px; width: 48px; cursor: pointer;" (click)="toggleFilterTable()" src="assets/icons8-close-100.png">
        </div>
        <div style="height: 80%;" class="filter-table1-in">
          <app-main-navbar-button (filterChanged)="applyFilter($event)"></app-main-navbar-button>
        </div>
        <div class="filter-table-ended">
          <div class="custom-btn1 btn-16" (click)="onFilterApply()">SET</div>
          <div class="custom-btn1 btn-16" (click)="toggleFilterTable()">{{jsonDataCount}} SELECT</div>
        </div>
      </div>
    </div>
    <div *ngIf="showMaps" class="map-container">
      <app-map [jsonData]="filteredJsonData" (markerClicked)="showMarkerInfo($event)"></app-map>
      <div class="div1-1" *ngIf="showElements">  
        <div class="cart-1" *ngIf="selectedMarker">
          <a [routerLink]="['/build_about_the_project/', selectedMarker?.id]">
            <video  *ngIf="selectedMarker"  class="cart-1" [muted]="'muted'" loop  autoplay (ended)="replayVideo($event)">
              <source [src]="getVideoUrl(selectedMarker.id)" type="video/mp4">
            </video>
            <div class="div8">
              <h2 class="description-title-1">{{ selectedMarker.title }}</h2>
              <h3 class="h33">{{ selectedMarker.city }}</h3>
              <h4 class="h44">From {{ selectedMarker.price_low }} € up to {{ selectedMarker.price_hi }} €</h4>
              <h5 class="h55">{{ selectedMarker.line_adres }}</h5>
            </div>
          </a>
        </div>
      </div>
    </div>
    <app-paginator [totalItems]="filteredJsonData.length" [itemsPerPage]="itemsPerPage" (pageSelected)="changePage($event)" *ngIf="!showMaps"></app-paginator>   
    <div style="margin: 70px 0px 0px 0px;">
      <app-footer *ngIf="!showMaps"></app-footer>
    </div>
    </div>
  </body>
  </html>
