<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ 'TITLE_MAIN' | translate }}</title>
    <meta name="description" [attr.content]="'TITLE_DESCRIPTION' | translate">
    <meta name="keywords" content="buy apartment, eokvkmekfdefboim........">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
  </head>
  <body>
    <app-main-navbar></app-main-navbar>
    <div>
    <div class="divv">
      <button class="custom-btn btn-16" (click)="toggleFilterTable()">{{ 'FILTERS' | translate }}</button>
      <button class="custom-btn btn-16" (click)="toggleMaps()">{{ showMaps ? ('MAPS' | translate) : ('LIST' | translate) }}</button>
    </div>
    <div *ngIf="!showMaps" class="div0">
      <h1>{{ 'TITLE' | translate }}</h1>
      <h5>{{ 'SALE_OF_APARTMENTS' | translate:{count: jsonDataCount} }}</h5>
    </div>
    <div *ngIf="!showMaps" class="div1">
      <div class="cart" *ngFor="let data of paginatedData; let i = index">
        <div class="spinner"></div>
        <a [routerLink]="['/build_about_the_project/', data?.id]">
          <video #videoElement class="cart" [muted]="'muted'" loop autoplay playsinline (ended)="replayVideo($event)" 
                 [src]="getVideoUrl(data.id)">
          </video>
        </a>
        <div class="description">
          <h2 class="description-title">{{data.title}}</h2>
          <h3>{{data.city}}</h3>
          <h4>{{ 'DESCRIPTION.FROM_TO_PRICE' | translate: { price_low: data.price_low, price_hi: data.price_hi } }}</h4>
          <h5>{{ 'DESCRIPTION.ADDRESS' | translate: { line_adres: data.line_adres } }}</h5>
        </div>
      </div>
    </div>
    <div class="filter-table" *ngIf="showFilterTable">
      <div style="overflow: hidden;" class="filter-table1">
        <div class="filter-table-title">
          <h2>Filters</h2>
          <img style="height: 48px; width: 48px; cursor: pointer;" (click)="toggleFilterTable()" src="assets/icons8-close-100.png">
        </div>
        <div style="height: 80%;" class="filter-table1-in">
          <app-main-navbar-button (filterChanged)="applyFilter($event)"></app-main-navbar-button>
        </div>
        <div class="filter-table-ended">
          <div class="custom-btn1 btn-16" (click)="onFilterApply()">{{ 'RESET' | translate }}</div>
          <div class="custom-btn1 btn-16" (click)="toggleFilterTable()">{{jsonDataCount}} {{ 'SELECT' | translate }}</div>
        </div>
      </div>
    </div>
    <div *ngIf="showMaps" class="map-container">
      <app-map [jsonData]="filteredJsonData" (markerClicked)="showMarkerInfo($event)"></app-map>
      <div class="div1-1" *ngIf="showElements">  
        <div class="cart-1" *ngIf="selectedMarker">
          <a [routerLink]="['/build_about_the_project/', selectedMarker?.id]">
            <video  *ngIf="selectedMarker"  class="cart-1" [muted]="'muted'" loop  autoplay (ended)="replayVideo($event)" playsinline>
              <source [src]="getVideoUrl(selectedMarker.id)" type="video/mp4">
            </video>
            <div class="div8">
              <h2 class="description-title-1">{{ selectedMarker.title }}</h2>
              <h3 class="h33">{{ selectedMarker.city }}</h3>
              <h4 class="h44">{{ 'DESCRIPTION.FROM_TO_PRICE' | translate: { price_low: selectedMarker.price_low, price_hi: selectedMarker.price_hi } }}</h4>
              <h5 class="h55">{{ 'DESCRIPTION.ADDRESS' | translate: { line_adres: selectedMarker.line_adres } }}</h5>
            </div>
          </a>
        </div>
      </div>
    </div>
    <app-paginator [totalItems]="filteredJsonData.length" [itemsPerPage]="itemsPerPage" (pageSelected)="changePage($event)" *ngIf="!showMaps"></app-paginator>   
    <div style="margin: 70px 0px 0px 0px;">
      <app-footer *ngIf="!showMaps"></app-footer>
    </div>
    </div>
  </body>
  </html>
