<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="description" content="Find the best apartments for sale from the developer. Discover project characteristics, terms of financing, and more.">
    <meta name="keywords" content="apartments, real estate, developer, property sale, financing terms, construction status">
    <title>Apartments for Sale from the Developer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
  </head>
  <body>
<app-louding *ngIf="loading"></app-louding>

<app-main-navbar></app-main-navbar>
<app-main-navbar2 [jsonData]="jsonData"></app-main-navbar2>
<div class="spinner"></div>
<div style="margin-left: -54px;">
<ul class="gallery" [@fadeAnimation]>
	<li *ngFor="let pos of [position + 0, position + 1, position + 2, position + 3, position + 4, position + 5]"> 
        <video class="video111" style="object-fit: fill;" [muted]="'muted'" loop autoplay playsinline (ended)="replayVideo($event)" (ended)="updatePosition(pos)">
        <source [src]="getVideoUrl(pos)" type="video/mp4"></video>
    </li>
</ul>

</div>
<div  *ngIf="jsonData" class="9" style="display: flex; justify-content: space-between;">
    <div style="margin:-150px 25px; color: white; position: relative;">
        <h1>{{jsonData.title}}</h1>
        <h3>{{jsonData.city}}</h3>
    </div>   
</div>
<div class="div3-1">
</div>
<div style="display: -webkit-flex; display: flex; width: 100%; position: relative; margin-bottom: 42px;" [@fadeAnimation]>

    <div class="div1">
        <h2 class="h2" style="color: rgb(0, 0, 0);">Apartments for sale from the developer</h2>
        <div class="div4">
            <ng-container *ngIf="jsonDataOwner">
                <h3 class="h3" style="color: rgb(0, 0, 0);"> A project by: 
                    <a [routerLink]="['/document_page/', jsonDataOwner?.id]" target="_blank">{{jsonDataOwner.title_company}}</a>
                </h3>
                <a href="https://wa.me/{{jsonDataOwner.phone}}?text=MARK" target="_blank">
                <button class="custom-btn but btn-13">Request prices and availability</button>
                </a>
            </ng-container>
        </div>
        <div style="margin: -20px 0px -40px 0px;">
                <app-planirovka [jsonData]="jsonData"></app-planirovka>
        </div>


        <h2 class="h2">Terms of financing</h2>
        <app-terms-of-financing [getTermsOfFinancing]="getTermsOfFinancing"></app-terms-of-financing>

        <h2 class="h2">Location, master plan and infrastructure</h2>
        <ng-container *ngIf="jsonData">
            <h5>{{jsonData.city}}, {{jsonData.line_adres}}</h5>
        </ng-container>
    </div>
    <div class="div3">
        <app-cart-builder [jsonDataOwner]="jsonDataOwner"></app-cart-builder>
    </div>
</div>

<app-map-project-new-build [jsonData]="jsonData"></app-map-project-new-build>
<div class="div1">
    <h2 class="h2">Project characteristics</h2>
    <h5>Information is given according to the data from the developer</h5>
    <div class="div6" style="width: auto; height: auto">
        <ng-container *ngIf="jsonData">
            <div class="div7">
                <img style="height: 50px ; width: 50px;" src="assets/volume.png" alt="Building Class">
                <div style="display: flex; flex-direction: column; margin: 0px 0px 0px 10px;">
                    <h5 style="margin: 5px 0px -20px 0px;">{{jsonData.class_bulding}}</h5>
                    <h6>Class</h6>
                </div>
            </div>
            <div class="div7">
                <img style="height: 50px ; width: 50px;" src="assets/hotel.png"  alt="Houses">
                <div style="display: flex; flex-direction: column; margin: 0px 0px 0px 10px;">
                    <h5 style="margin: 5px 0px -20px 0px;">{{jsonData.houses}}</h5>
                    <h6>Houses</h6>
                </div>
            </div>
            <div class="div7">
                <img style="height: 50px ; width: 50px;" src="assets/residence.png" alt="Number of Storeys">
                <div style="display: flex; flex-direction: column; margin: 0px 0px 0px 10px;">
                    <h5 style="margin: 5px 0px -20px 0px;">{{jsonData.number_of_storeys}}</h5>
                    <h6>Number of storeys</h6>
                </div>
            </div>
            <div class="div7">
                <img style="height: 50px ; width: 50px;" src="assets/technology.png" alt="Construction Technology">
                <div style="display: flex; flex-direction: column; margin: 0px 0px 0px 10px;">
                    <h5 style="margin: 5px 0px -20px 0px;">{{jsonData.construction_technology}}</h5>
                    <h6>Construction technology</h6>
                </div>
            </div>
            <div class="div7">
                <img style="height: 50px; width: 50px;" src="assets/brick-wall.png" alt="Walls">
                <div style="display: flex; flex-direction: column; margin: 0px 0px 0px 10px;">
                    <h5 style="margin: 5px 0px -20px 0px;">{{jsonData.walls}}</h5>
                    <h6>Walls</h6>
                </div>
            </div>
            <div class="div7">
                <img style="width: 50px; height: 50px;" src="assets/eco-house.png" alt="Insulation">
                <div style="display: flex; flex-direction: column; margin: 0px 0px 0px 10px;">
                    <h5 style="margin: 5px 0px -20px 0px;">{{jsonData.insulation}}</h5>
                    <h6>Insulation</h6>
                </div>
            </div>
            <div class="div7">
                <img style="height: 50px; width: 50px;" src="assets/heat.png"  alt="Heating">
                <div style="display: flex; flex-direction: column; margin: 0px 0px 0px 10px;">
                    <h5 style="margin: 5px 0px -20px 0px;">{{jsonData.heating}}</h5>
                    <h6>Heating</h6>
                </div>
            </div>
            <div class="div7">
            <img style="height: 50px; width: 50px;" src="assets/measure.png" alt="Ceiling Height">
            <div style="display: flex; flex-direction: column; margin: 0px 0px 0px 10px;">
                <h5 style="margin: 5px 0px -20px 0px;">{{jsonData.ceiling_height}}</h5>
                <h6>Ceiling height</h6>
            </div>
            </div>
            <div class="div7">
            <img style="height: 50px; width: 50px;" src="assets/plan.png" alt="Number of Flats">    
            <div style="display: flex; flex-direction: column; margin: 0px 0px 0px 10px;">
                <h5 style="margin: 5px 0px -20px 0px;">{{jsonData.number_of_flats}}</h5>
                <h6>Number of flats</h6>
            </div>
            </div>
            <div class="div7">
            <img style="height: 50px; width: 50px;" src="assets/paint-roller.png" alt="Apartment Condition">    
            <div style="display: flex; flex-direction: column; margin: 0px 0px 0px 10px;">
                <h5 style="margin: 5px 0px -20px 0px;">{{jsonData.apartment_condition}}</h5>
                <h6>Apartment condition</h6>
            </div>
            </div>
            <div class="div7">
                <img style="height: 52px; width: 52px;" src="assets/icons8-territory-50.png" alt="Territory">
                <div style="display: flex; flex-direction: column; margin: 0px 0px 0px 10px;">
                    <h5 style="margin: 5px 0px -20px 0px;">{{jsonData.territory}}</h5>
                    <h6>territory</h6>
                </div>
            </div>
            <div class="div7">
            <img style="height: 50px; width: 50px;" src="assets/parking.png" alt="Car Park">
            <div style="display: flex; flex-direction: column; margin: 0px 0px 0px 10px;">
                <h5 style="margin: 5px 0px -20px 0px;">{{jsonData.car_park}}</h5>
                <h6>car park</h6>
            </div>
            </div>
        </ng-container>
    </div>
    <h2 class="h2">Documents</h2>
    <div style="background-color: black; width: auto; height: 150px; margin: 50px auto;">
        <app-document-puti [jsonData]="jsonData"></app-document-puti>
    </div>
    <h2 class="h2">Construction status</h2>
    <div style="height: 350px; margin: 50px auto;">
    <app-cart-image [jsonData]="jsonData"></app-cart-image>
    </div>
    <h2 class="h2">More about this project</h2>
    <div style="height: auto; margin: 50px 0px 30px 0px;">
        <div class="div6-5">
            <div *ngFor="let dddd of jsonDataOwnerAbout" class="div6-6" style=" display: -webkit-flex;display: flex; width: auto; color: #000000; background: #f5f6fa; border-radius: 35px; padding: 16px 30px 0px 0px; margin: 0px 30px 0px 0px;" >
                <img  style="height: 60px; width: 60px; border-radius: 200px; margin: -8px 0px 0px 10px" [src]="getVideoFromPosition(dddd?.id)"  alt="..."/>
                <div style="margin: -20px 0px 0px 20px;">
                    <a href="dddd.link" target="_blank" style="text-decoration: none;">
                    <h4 style="margin: 28px auto; color: #aaacad;">{{dddd.dascription}}</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <h2 class="h2">About the project</h2>
    <ng-container *ngIf="jsonData">
        <div [innerHTML]="paragraph"></div>
    </ng-container>
    <div  style="margin: 70px 0px 0px 0px;">
        <app-cart-builder-big [jsonDataOwner]="jsonDataOwner"></app-cart-builder-big>
    </div>
</div>

<app-footer></app-footer>

</body>
</html>


