<app-main-navbar></app-main-navbar>
<div style="margin: 300px auto;
    display: flex;">
    <div class="zigzag">
        <i style="--i: 0">SOOM</i>
        <i style="--i: 1">SOON</i>
        <i style="--i: 2">SOON</i>
        <i style="--i: 3">SOON</i>
        <i style="--i: 4">SOON</i>
        <i style="--i: 5">SOON</i>
        <i style="--i: 6">SOON</i>
        <i style="--i: 7">SOON</i>
        <i style="--i: 8">SOON</i>
        <i style="--i: 9">SOON</i>
        <i style="--i: 10">SOON</i>
        <i style="--i: 11">SOON</i>
        <i style="--i: 12">SOON</i>
        <i style="--i: 13">SOON</i>
        <i style="--i: 14">SOON</i>
        <i style="--i: 15">SOON</i>
      </div>
    </div>

