

<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

<nav #nav>
  <div class="nav-bar">
    <i class='bx bx-menu sidebarOpen' #sidebarOpen></i>
    <span class="logo navLogo"><a [routerLink]="['/new_build/']">MARK</a></span>
    <div class="menu">
      <div class="logo-toggle">
        <span class="logo"><a href="#">MARK</a></span>
        <i class='bx bx-x sidebarClose' #sidebarClose></i>
      </div>
      <ul class="nav-links">
        <li><a [routerLink]="['/new_build/']">{{ 'BIG_BAR.NEW_BUILDINGS' | translate }}</a></li>
        <li><a [routerLink]="['/bulders/']">{{ 'BIG_BAR.BUILDERS' | translate }}</a></li>
        <li><a [routerLink]="['/new_cattages/']">{{ 'BIG_BAR.NEW_COTTAGES' | translate }}</a></li>
        <li><a [routerLink]="['/static/']">{{ 'BIG_BAR.STATISTICS' | translate }}</a></li>
      </ul>
    </div>
    <div class="darkLight-searchBox">
      <div class="dark-light" #modeToggle>
          <h4 (click)="switchLanguage('en')" style="cursor: pointer;">EN</h4>
      </div>
      <div class="searchBox">
        <div class="searchToggle" #searchToggle>
          <h4 (click)="switchLanguage('fr')" style="cursor: pointer;">FR</h4>
        </div>
      </div>
    </div>
  </div>
</nav>
