<div class="container">
    <div class="card">
      <a [routerLink]="['/document/', jsonData?.id]">
      <h4>Documents for the land plot</h4>
      <i class="fas fa-arrow-right"></i>
      <p>Datalis</p>
      <div class="pic"></div>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <button>
      </button>
      </a>
    </div>
    <div class="card secondclose">
        <a [routerLink]="['/document/', jsonData?.id]">
        <h4>Construction documents</h4>
        <i class="fas fa-arrow-right"></i>
        <p>Datails</p>
        <div class="pic"></div>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <button>
        </button>
        </a>
      </div>
      <div class="card firstclose">
        <a [routerLink]="['/document/', jsonData?.id]">
        <h4>Mortgage "eOselya"</h4>
        <i class="fas fa-arrow-right"></i>
        <p>Datails</p>
        <div class="pic"></div>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>

        <button>
        </button>
        </a>
      </div>
    