<div class="container">
    <div class="card">
      <a [routerLink]="['/document/', jsonData?.id]">
      <h4>{{ 'DOCUMENTS.1' | translate }}</h4>
      <i class="fas fa-arrow-right"></i>
      <p>{{ 'DOCUMENTS.4' | translate }}</p>
      <div class="pic"></div>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <button>
      </button>
      </a>
    </div>
    <div class="card secondclose">
        <a [routerLink]="['/document/', jsonData?.id]">
        <h4>{{ 'DOCUMENTS.2' | translate }}</h4>
        <i class="fas fa-arrow-right"></i>
        <p>{{ 'DOCUMENTS.4' | translate }}</p>
        <div class="pic"></div>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <button>
        </button>
        </a>
      </div>
      <div class="card firstclose">
        <a [routerLink]="['/document/', jsonData?.id]">
        <h4>{{ 'DOCUMENTS.3' | translate }}</h4>
        <i class="fas fa-arrow-right"></i>
        <p>{{ 'DOCUMENTS.4' | translate }}</p>
        <div class="pic"></div>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>

        <button>
        </button>
        </a>
      </div>
    